version: '3.8'

services:
  backend:
    image: ghcr.io/augajom/hewkad-back:latest
    restart: always
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production

  frontend:
    image: ghcr.io/augajom/hewkad-front:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend